body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #E8EEF1;
  height: 100vh;
}



/* Colors
White: color: #E8EEF1;
Blue Grotto color: #43B0F1;
Royal Blue color: #057DCD;
Navy Blue color: #1E3D58; 
*/
/* 
header {
  background-color: #43B0F1;
  color: #E8EEF1;
}

nav {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; 
  align-items: center;
}

nav h1 {
  color: #1E3D58;
  font-size: 2.0em;
}

nav a {
  color: #E8EEF1;
  font-size: 1.25em;
  font-weight: 600;
  margin-right: 0.5em;
  text-decoration: none;
}

nav a:hover {
  color: #1E3D58;
  font-size: 1.25em;
  margin-right: 0.5em;
}


.nav-links {
  margin-right: 2em;
  /* margin-top: 1em; 
}

nav img {
  height: 50px;
  width: 50px;
  padding: 0.5em 0.5em;
}


@media screen and (max-width: 750px) {
  header {
    margin-bottom: 1em;
  }

  nav {
    flex-direction: column;
    padding-bottom: 1em;
  }
} */


.home-page, .about-page {
  height: 100vh;
  background-color: #E8EEF1;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.login-container, .register-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5em;
  justify-items: center;
  /* flex-direction: column; */
  /* margin: 0 auto; */
}

.login-container h1, .register-container h1 {
  margin-top: 0;
  padding-top: 1em;
}

.form-container {
  width: 50%;
  min-width: 350px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 2em;
  margin-bottom: 1em;
  border-radius: 5px;
}

form label {
  padding: 10px 2px;
  font-size: 1.25em;
  font-weight: 500;
}

form button {
  margin: 1em auto;
  width: 50%;
  height: 2.5em;
  background-color: #057DCD;
  border-radius: 10px;
  color: #E8EEF1;
  font-size: 1.25em;
  font-weight: 600;
}